// Font Sizes
.fs12 {
    font-size: rem(12px);
}
.fs14 {
    font-size: rem(14px);
}
.fs18 {
    font-size: rem(18px);
}
.fs20 {
    font-size: rem(20px);
}
.fs24 {
    font-size: rem(24px);
}
.fs28 {
    font-size: rem(28px);
}
.fs30 {
    font-size: rem(30px);
}

// flex helpers

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.align-end {
        align-items: flex-end;
    }

    &.align-start {
        align-items: flex-start;
    }

    &.justify-between {
        justify-content: space-between;
    }

    &.justify-stretch {
        justify-content: stretch;
    }
}
.grow {
    flex-grow: 1;
}

.basis50 {
    flex-basis: 50%;
}

//Grid helpers

.grid {
    display: grid;

    &.auto-fit {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    &.auto-fill {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

// height and width helpers
.height-100 {
    height: 100%;
}

.width-50 {
    width: 50%;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
